@import "../../globals.scss";

.hed {
  position: absolute;
  top: 10%;
  left: 20%;
  font-family: "Times New Roman";
  font-weight: 300;
  font-size: 35px;
  line-height: 1.1;
  text-align: left;
  color: white;
  max-width: 500px;
  letter-spacing: 2px;
  line-height: 1.6;
}
