.hed {
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;
  text-align: left;
  color: black;
  max-width: 500px;
}
